.signup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup__inputField {
  margin: 1rem 1rem 1.25rem;
  width: 25rem;
}

// Add margin between fields
.signup__inputField + .signup__inputField {
  margin-top: 0.5rem;
}

.signup__error {
  font-size: 12px;
  color: red;
}
