body {
  min-height: auto !important;
}

.App {
  text-align: center;
}
.roundedD {
  border-top: 7px solid #000000;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  width: 10%;
}
.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}
.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  font: 300 0.7vmax "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: #4949e8;
}

.pageLinkActive {
  color: white;
}

.carousel-style {
  height: 100%;
}

.authenticator {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Account Styles */

.account-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.profile-header h1 {
  font-size: 24px;
  color: #333;
}

.profile-header h2 {
  font-size: 20px;
  color: #555;
}

.profile-section {
  display: flex;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.profile-image {
  margin-right: 20px;
  position: relative;
}

.profile-image img {
  width: 100px; /* Adjust size as necessary */
  height: 100px;
  border-radius: 50%; /* Circular image */
  border: 1px solid darkblue; /* Placeholder for profile border */
}

.edit-icon {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  color: blue; /* Placeholder for edit icon color */
}

.profile-details {
  flex-grow: 1;
}

.personal-info,
.additional-info {
  margin-bottom: 10px;
}

.personal-info h3,
.additional-info h3 {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.personal-info p,
.additional-info p {
  margin: 2px 0;
  font-size: 14px;
  color: #666;
}
